body {
margin:0;
font-family:Arial;
background:#f4f6f9;
}

header {
background:#1e293b;
color:white;
padding:15px;
text-align:center;
}

nav {
background:#334155;
padding:10px;
display:flex;
gap:10px;
justify-content:center;
}

nav button {
background:#475569;
color:white;
border:none;
padding:8px 15px;
cursor:pointer;
}

.secao {
display:none;
padding:20px;
}

.ativa {
display:block;
}

.cards {
display:flex;
gap:15px;
margin-bottom:20px;
}

.card {
background:white;
padding:15px;
border-radius:6px;
flex:1;
text-align:center;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

form {
display:grid;
gap:10px;
max-width:500px;
}

#map {
height:500px;
border-radius:8px;
}

